body {
   background-image: url("https://image.freepik.com/fotos-gratis/pequenas-flores-brancas-em-flor-no-fundo-rosa_23-2147752460.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}
.navegar{
    background-color:rgba(255, 110, 180, .4);
    position: fixed;
    top:0;
    left:0;
    width: 100%;

}

.botones{
    padding:0;
}

.botones li{
    display: inline-block;
    padding:10px;
    padding-left: 98px;
}

.bienvenida{
    background-color:rgba(255, 110, 180, .4); 
    width: 800px;
    height:500px;
    margin:auto;
    text-align: center;
    border-radius: 20px;
    margin-top: 10rem;
}

.bienvenida>span{
    display:inline-block;
	vertical-align:middle;
    line-height:normal;
    margin-top: 5rem;
    color:white;
    font-family: 'Poller One', cursive;
    font-size: 50px;
}

#iniciar{
    width: 80px;
    height: 45px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
    background: white;
    color:black;
    border-radius: 15px;

}
a{
    color:white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poller One', cursive;
}