body {
   background-image: url("https://image.freepik.com/fotos-gratis/pequenas-flores-brancas-em-flor-no-fundo-rosa_23-2147752460.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}
.navegar{
    background-color:rgba(255, 110, 180, .4);
    position: fixed;
    top:0;
    left:0;
    width: 100%;

}

.botones{
    padding:0;
}

.botones li{
    display: inline-block;
    padding:10px;
    padding-left: 98px;
}

.bienvenida{
    background-color:rgba(255, 110, 180, .4); 
    width: 800px;
    height:500px;
    margin:auto;
    text-align: center;
    border-radius: 20px;
    margin-top: 10rem;
}

.bienvenida>span{
    display:inline-block;
	vertical-align:middle;
    line-height:normal;
    margin-top: 5rem;
    color:white;
    font-family: 'Poller One', cursive;
    font-size: 50px;
}

#iniciar{
    width: 80px;
    height: 45px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
    background: white;
    color:black;
    

}
#iniciar {
    border-radius: 15px;
}
a{
    color:white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poller One', cursive;
}


 .fondo{
     width: 75rem;
     height: 40rem;
     margin: auto;
     overflow: scroll;
     background-color: white;
     margin-top: 3rem;
     border-radius: 20px;
     font-size: larger;
 }

 #parrafo1{
     margin-left: 2rem;
     margin-right: 3rem;
     text-align: justify;
 }

 .cuadrado{
    background-color: none;
    border: black 5px solid;
    width: 300px;
    height: 450px;
    margin: auto;
    position: relative;
    box-sizing:border-box !important;
}
 .contacto{
    width: 400px;
    height: 500px;
    background-color: white;
    margin:auto;
    margin-top: 3rem;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 10px #444);
}

#p1{
    text-align: center;
    font-family: 'Poller One', cursive;
    padding: 0;
    margin-top: 1rem;
    padding: 0;
    font-size: 20px;
}

.datos{
    display: grid;
    grid-gap: 30px;
    margin-top:2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.datos input{
    height: 30px;
    border-radius: 20px;
}
#enviar{
    width: 80px;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
}
footer{
    background-color: white;
    width:10%;
    margin-left: 7rem;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#instagram{
    width: 30px;
}
#facebook{
    width: 30px;
}
#whatsapp{
    width: 35px;
}
#redes{
    text-align: center;
}

.menu {
    text-decoration: none;
    list-style: none;
    padding:0;
    text-align: center;
}
