body {
    background-image: url("https://image.freepik.com/fotos-gratis/pequenas-flores-brancas-em-flor-no-fundo-rosa_23-2147752460.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 }
.proyecto1{
    width: fit-content;
    background: white;
    display:block;
}
p{
    margin-left: 2rem;
}
.date{
    float: right;
    margin-right: 2rem;
}
.proyecto2{
    width: fit-content;
    background: white;
    display:block;
}
.proyecto3{
    width: fit-content;
    background: white;
    display:block;
}
#viaje{
    width: 343px;
}
#laberinto{
    width: 343px;
}

.todo div{
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto;
}